@model EmployeeManagement.Employee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>

    }
    <h2>Done!!!</h2>
    <hr />

<div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


        }
    </div>
</body>
